<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="DBBackup" />
    </root>
    <appender name="DBBackup" type="log4net.Appender.RollingFileAppender">
      <file value="C:\MyWork\Logs\DBBackup.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM dd, yyyy HH:mm:ss} %level - %message%exception%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="username" value="user" />
    <add key="password" value="pass" />
    <add key="database" value="orcl" />
    <add key="directory" value="c" />
    <add key="schemas" value="schema" />
    <add key="version" value="" />
    <add key="minutes_to_wait" value="10" />
    <add key="backup_dir" value="C:\dbpump" />
    <add key="retention_days" value="3" />
  </appSettings>
</configuration>